{% extends 'roadchillz/base.html' %}
{% load static %}

{% block title_block %}
  RoadChillz | Add Restaurant
{% endblock %}

{% block body_block %}
<main>
	<section class="single__restaurant">
		<div class="restaurants">
			<div class="row">
				<div class="col-md-6 col-12">
					<br />
					<h1>Add your restaurant details</h1>
					<br />

					<div>
						<form
							method="post"
							class="form-group"
							id="add_restaurant_form"
              enctype="multipart/form-data"
							action="{% url 'roadchillz:add_restaurant' %}"
						>
							{% csrf_token %}
							{% for hidden in form.hidden_fields %}
								{{ hidden }}
							{% endfor %}

							{% for field in form.visible_fields %}
								{{ field.errors }}
								{{ field.help_text }}
								{{ field.label }} {{ field }}
							{% endfor %}

							{{ form.media }}
							<input type="file" name="myfile" class="form-control">
							{% if uploaded_file_url %}
									<p>File uploaded</p>
									<input type="hidden" name="image_url" value="{{uploaded_file_url}}">
							{% endif %}

							<div id="map"></div>

							<div>
								<button
									type="button"
									class="add-item-btn btn btn-outline-warning"
								>
									Add Menu Item
								</button>
							</div>
							<div class="mt-4">
								<input
									type="submit"
									name="submit"
									value="Submit"
									class="btn btn-warning"
								/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<script type="text/javascript">
	setTimeout(function() {
		let map;
		// lat = parseFloat($('#restaurant-map').attr('data-attr-lat'));
		// long = parseFloat($('#restaurant-map').attr('data-attr-long'))

		const restaurantLoc = { lat: 55.8642, lng: -4.2518 };

		map = new google.maps.Map(document.getElementById("map"), {
			center: restaurantLoc,
			zoom: 14,
            disableDoubleClickZoom: true,
            zoomControl: false,
            scrollwheel: false
		});

        let marker = new google.maps.Marker({
            position: restaurantLoc,
            map: map,
        })

        google.maps.event.addListener(map, "click", function (e) {
            console.log("Click");
            console.log(e)
            $("#location-long").val(e.latLng.lng());
            $("#location-lat").val(e.latLng.lat());
            setMarker(e.latLng, map);
        });

        function setMarker(location, map) {
            marker.setPosition(location);
        }
	}, 1000);
 </script>
{% endblock %}
