{% extends 'roadchillz/base.html' %}
{% load static %}

{% block title_block %}
  RoadChillz | Add Restaurant
{% endblock %}

{% block body_block %}
<main>
	<section class="single__restaurant">
		<div class="restaurants">
			<div class="row">
				<div class="col-md-6 col-12">
					<br />
					<h1>Add your restaurant details</h1>
					<br />

					<div>
						<form
							class="form-group"
							id="add_restaurant_form"
							method="post"
							action="{% url 'roadchillz:add_restaurant' %}"
						>
							{% csrf_token %}
							{% for hidden in form.hidden_fields %}
								{{ hidden }}
							{% endfor %}

							{% for field in form.visible_fields %}
								{{ field.errors }}
								{{ field.help_text }}
								{{ field.label }} {{ field }}
							{% endfor %}

							{{ form.media }}

							<div>
								<button
									type="button"
									class="add-item-btn btn btn-outline-warning"
								>
									Add Menu Item
								</button>
							</div>

							<div id="map">Map Here</div>

							<div class="mt-4">
								<input
									type="submit"
									name="submit"
									value="Add Restaurant"
									class="  btn btn-warning"
								/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}
