<!DOCTYPE html>
{% load static %}

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'roadchillz/styles.css' %}"
		/>

		<title>Roadchillz | {% block title_block %} Auth {% endblock %}</title>
	</head>
	<body>
		<main class='auth__container'>
			<section class="auth__wrapper">
				<div class="auth__form-container">
					<img
						src="{% static 'images/logo.jpg' %}"
						alt="RoadChillz Logo"
						class="logo__wrapper"
					/>

					{% block body_block %} {% endblock %}
				</div>
			</section>
		</main>
	</body>
</html>
