{% extends 'roadchillz/base.html' %}
{% load static %}

{% block title_block %}
	RoadChillz | Categories
{% endblock %}

{% block body_block %}
	<section class="restaurants">
		<div class="restaurants__heading">
			<h2>Categories</h2>
			<a href="{% url 'roadchillz:index' %}">View Restaurants →</a>
		</div>

		<div class="restaurants__content">
			<div class="restaurants__item">
				<a href="{% url 'roadchillz:category_restaurants' %}">
					<img src="{% static 'images/hero.jpg' %}" alt="test" />
					<div class="restaurants__item__details">
						<div>
							<p class="restaurants__item-name">Mexican Restaurant Name</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
{% endblock %}
