{% extends 'roadchillz/base.html' %}
{% load static %}

{% block title_block %}
	RoadChillz | Categories
{% endblock %}

{% block body_block %}
<main>
	{% include 'roadchillz/hero.html' %}

	<section class="restaurants">
		<div class="restaurants__heading">
			<h2>Categories</h2>
			<a href="{% url 'roadchillz:index' %}">View Restaurants →</a>
		</div>

		<div class="restaurants__content">
			{% if categories %}
				{% for c in categories %}
					<div class="restaurants__item">
						<a href="{% url 'roadchillz:category_restaurants' %}">
							<img src="{% static 'images/hero.jpg' %}" alt="test" />
							<div class="restaurants__item__details">
								<div>
									<p class="restaurants__item-name">{{ c.name | title}}</p>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			{% else %}
				<strong>There are no categories present.</strong>
			{% endif %}
		</div>
	</section>
</main>
{% endblock %}
