{% extends 'roadchillz/base.html' %}
{% load static %}

{% block body_block %}
<main>
	{% include 'roadchillz/hero.html' %}

	<section class="restaurants">
		<div class="restaurants__heading">
			<h2>Restaurants</h2>
			<a href="{% url 'roadchillz:categories' %}">View Categories →</a>
		</div>

		<div class="restaurants__content">
			{% if restaurants %}
					{% for r in restaurants %}
						<div class="restaurants__item">
							<a href="{% url 'roadchillz:single_restaurant' r.slug %}">
								<img src="{{ r.image_url }}" alt="{{ r.name }}" />
								<div class="restaurants__item__details">
									<div class="restaurants__item__details-group">
										<p class="restaurants__item-type">{{ r.category }}</p>

										<div class="stats">
											<img
												src="{% static 'images/star.jpg' %}"
												alt="star"
												class="star"
											/>
											<p class="restaurants__item-rating">{{ r.likes }}</p>
										</div>
									</div>

									<div>
										<p class="restaurants__item-name">{{ r.name }}</p>
										<p class="restaurants__item-location">{{ r.location_name }}</p>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				{% else %}
				<strong>There are no restaurants present.</strong>
			{% endif %}
		</div>
	</section>
</main>
{% endblock %}
