{% extends 'roadchillz/auth-base.html' %}
{% load static %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
	<h2 class="auth__form-title">Login</h2>
	<p class="auth__form-description">Welcome back to Roadchillz</p>

	<form
		method="post"
		id="login_form"
		enctype="multipart/form-data"
		class="auth__form-wrapper form-group"
		action="{% url 'roadchillz:login' %}"
	>
		{% csrf_token %}

		<label for="id_email">Username</label>
		<input
			type="text"
			name="username"
			placeholder=""
			class="form-control"
			required
		/>

		<label for="password">Password</label>
		<input
			name="password"
			type="password"
			placeholder=""
			class="form-control"
			required
		/>

		<div class="mt-5">
			<input
				type="submit"
				name="submit"
				value="Login"
				class="stretch-btn btn btn-warning btn-block"
			/>
		</div>
	</form>

	<div class="signup">
		Don’t have an account?
		<a href="{% url 'roadchillz:signup' %}">Sign Up</a>
	</div>
{% endblock %}
