{% extends 'roadchillz/base.html' %}
{% load static %}

{% block title_block %}
	RoadChillz | Restaurants
{% endblock %}

{% block body_block %}
	<section class="restaurants">
		<div class="restaurants__heading">
			<h2>Restaurants -</h2>
			<a href="{% url 'roadchillz:categories' %}">View Categories →</a>
		</div>

		<div class="restaurants__content">
      <div class="restaurants__item">
        <a href="">
          <img src="{% static 'images/hero.jpg' %}" alt="test" />
          <div class="restaurants__item__details">
            <div class="restaurants__item__details-group">
              <p class="restaurants__item-type">Mexican</p>
              <p class="restaurants__item-rating">4.5</p>
            </div>

            <div>
              <p class="restaurants__item-name">Mexican Restaurant Name</p>
              <p class="restaurants__item-location">Bristol, UK</p>
            </div>
          </div>
        </a>
      </div>
		</div>
	</section>
{% endblock %}
