{% extends 'roadchillz/auth-base.html' %}
{% load static %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<h2 class="auth__form-title">Register</h2>
	<p class="auth__form-description">Join Roadchillz today!</p>

	{% if registered %}
		<div class='submitted'>
			<strong>Thank you for registering!</strong>
			<a href="{% url 'roadchillz:login' %}">Login to the continue.</a><br />
		</div>
  {% else %}
		<form
			method="post"
			id="user_form"
			enctype="multipart/form-data"
			class="auth__form-wrapper form-group"
			action="{% url 'roadchillz:signup' %}"
		>
			{% csrf_token %}

			{{ user_form }}
			{{ profile_form }}

			<div class="mt-5">
				<input
					type="submit"
					name="submit"
					value="Register"
					class="stretch-btn btn btn-warning btn-block"
				/>
			</div>
		</form>

		<div class="signup">
			Have an account? <a href="{% url 'roadchillz:login' %}">Login</a>
		</div>
	{% endif %}
{% endblock %}
