{% extends 'roadchillz/base.html' %}
{% load static %}

{% block title_block %}
	RoadChillz | Single Restaurant
{% endblock %}

{% block body_block %}
<main>
	<section class="single__restaurant">
		<div class="restaurants">
			<div>
				<h1>{{restaurant.name | title}}</h1>
				<p class="restaurant-hours"><span class="timing-block">Open Hours : {{ restaurant.open_time | time:"h:i A" }} - {{ restaurant.close_time | time:"h:i A" }}</span></p>
			</div>

			<img
				src="{{ restaurant.image_url }}"
				alt="Restaurant Image"
				class="single__restaurant-image"
			/>

			<div class="single__restaurant-description">
				<h5>Recommended Items: </h5>
				{% if items %}
					{% for i in items %}
						<p class="item-block"><span class="item-title">{{i.name | title}}</span> <span class="item-price">£ {{i.price}}</span></p>
					{% endfor %}
				{% else %}
					<strong>No menu items available</strong>
				{% endif %}
			</div>

			<div class="single__restaurant__location">
				<h5>Location:</h5>
				<p class="area-name">{{restaurant.location_name | title}}</p>
				<div id="restaurant-map" data-attr-lat="{{restaurant.lat}}" data-attr-long="{{restaurant.long}}"></div>
			</div>
		</div>
	</section>
</main>
<script type="text/javascript">
	setTimeout(function() { 
		// Mock async call to load
		let map;
		lat = parseFloat($('#restaurant-map').attr('data-attr-lat'));
		long = parseFloat($('#restaurant-map').attr('data-attr-long'))
		const restaurantLoc = { lat: lat, lng: long };
		map = new google.maps.Map(document.getElementById("restaurant-map"), {
			center: restaurantLoc,
			zoom: 14,
		});

		// The marker, positioned at Uluru
		const marker = new google.maps.Marker({
			position: restaurantLoc,
			map: map,
		})
	}, 1000);
 </script>
{% endblock %}
