{% extends 'roadchillz/base.html' %}
{% load static %}

{% block title_block %}
	RoadChillz | {{ restaurant.name | title }}
{% endblock %}

{% block body_block %}
<main>
	<section class="single__restaurant">
		<div class="restaurants">
			<div class='single__restaurant-heading'>
				<div>
					<h1>{{restaurant.name | title}}</h1>
					<p class="restaurant-hours"><span class="timing-block">Open Hours : {{ restaurant.open_time | time:"h:i A" }} - {{ restaurant.close_time | time:"h:i A" }}</span></p>
				</div>

				<div class='single__restaurant-likes'>
					<strong id="like_count">{{ restaurant.likes }}</strong>
						{% if restaurant.likes > 1 %}
									({{ restaurant.likes }} likes)
						{% elif restaurant.likes == 1 %}
								({{ restaurant.likes}} likes)
						{% endif %}

					{% if user.is_authenticated %}
						<button
							id="like_btn"
							type="button"
							class="btn btn-primary btn-sm"
							data-restaurantid="{{ restaurant.id }}"
						>
						<span data-feather="thumbs-up"></span>Like Restaurant</button>
					{% endif %}
				</div>
			</div>

			<img
				src="{{ restaurant.image_url }}"
				alt="Restaurant Image"
				class="single__restaurant-image"
			/>

			<div class="single__restaurant-description">
				<h5>Recommended Items: </h5>
				{% if items %}
					{% for i in items %}
						<p class="item-block"><span class="item-title">{{i.name | title}}</span> <span class="item-price">£ {{i.price}}</span></p>
					{% endfor %}
				{% else %}
					<strong>No menu items available</strong>
				{% endif %}
			</div>

			<div class="single__restaurant__location">
				<h5>Location:</h5>
				<p class="area-name">{{restaurant.location_name | title}}</p>
				<div id="restaurant-map" data-attr-lat="{{restaurant.lat}}" data-attr-long="{{restaurant.long}}"></div>
			</div>
		</div>
	</section>
</main>

<script type="text/javascript">
	setTimeout(function() {
		let map;

		lat = parseFloat($('#restaurant-map').attr('data-attr-lat'));
		long = parseFloat($('#restaurant-map').attr('data-attr-long'))

		const restaurantLoc = { lat: lat, lng: long };

		map = new google.maps.Map(document.getElementById("restaurant-map"), {
			center: restaurantLoc,
			zoom: 14,
		});

		const marker = new google.maps.Marker({
			position: restaurantLoc,
			map: map,
		})
	}, 1000);
</script>
{% endblock %}
